:root{
    --corFundo: rgb(4, 19, 71);
}

header{
    background-color: var(--corFundo);
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

footer{
    background-color: var(--corFundo);
    color: white;
}

footer a{
    color: white;
}

.overlay, .verMais{
    display: none;
}

.projeto1, .projeto2, .projeto3, .projeto4{
    display: none;
}

@media screen and (min-width: 320px){

        .imgMenu img{
            width: 20%;
        }

        .imgMenu{
            display: inline-block;
            position: fixed;
            top: -5px;
            left: 0px;
            z-index: 1;
            background-color: var(--corFundo);
            height: 65px;
            width: 100%;
            animation: menuAnimation 3s forwards;
            opacity: 0;
        }

        .imgMenu h2{
            position: relative;
            display: inline;
            bottom: 23px;
            left: 12px;
            color: white;
        }
        
        @keyframes menuAnimation {
            100%{
                opacity: 1;
            }
        }

        .nav img{
            position: absolute;
            width: 30%;
            left: 0px;
            top: -5px
        }

        .nav{   
            top: -1px;
            left: 0px;
            position: fixed;
            background-color: var(--corFundo);
            z-index: 3;
            color: white;
            height: 465px;
            width: 225px;
            display: none;
            transform: translateX(-100%);
            animation: navAnimation 0.5s forwards;
            border-radius: 20px;
        }

        .navVoltando{
            animation: navAnimationVolta 0.5s backwards;
        }

        @keyframes navAnimation {
            100%{
                transform: translateX(0);
            }
        }

        @keyframes navAnimationVolta{
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(-100%);
                display: none;
            }
        }

        .nav a{
            color: white;
            transition: 0.5s;
        }

        .nav ul{
            margin:5% 0 0 13%;
            display: inline-block;
            list-style-type: none;
        }

        .nav ul li{
            font-size: 28px;
            font-weight: bolder;
            margin: 0 0 28% 0;
        }

        .nav a:hover{
            color: black;
        }

        .nomeTitulo{
            display: block;
            background-color: var(--corFundo);
            height: 385px;
            margin: 0;
            justify-content: center;
            overflow: hidden;
            position: relative;
        }
        
        .cursor{
            position: absolute;
            height: 50px;
            width: 2px;
            background-color: white;
            animation: cursor-blink 0.8s infinite;
        }
        
        .primeiroNome, .sobrenome, .subtitulo{
            text-align: center;
            opacity: 0;
        }
        
        .primeiroNome{
            font-size: 50px;
            margin: 30% 0 0 0;
            letter-spacing: 3px;
            color: rgb(165, 165, 204);
        }
        
        .sobrenome{
            margin: -30% 0 0 0;
            padding: 0;
            font-size: 65px;
            letter-spacing: 5px;
            color: white;
        }
        
        .subtitulo{
            margin: 18% 0 0 0;
            color: white;
            font-size: 35px;
        }
        
        @keyframes cursor-blink {
            0%, 100%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
        }

        .sobreMim{
            padding: 5% 0 0 0;
            margin: 3%;
            border: var(--corFundo) 2px solid;
            border-radius: 30px;
            opacity: 0;
        }
        
        .sobreMimVisible{
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .tituloQuem{
            text-align: center;
            margin: 15% 0 15% 0;
            font-size: 55px;
        }
        
        .sobreMim img{
            display: block;
            margin: 0 auto 0 auto;
            width: 85%;
        }
        
        .sobreMim p{
            margin: 4%;
            font-size: 26px;
            text-align: center;
            text-indent: 1em;
        }
    
        .frase{
            margin: 40% 0 0% 0;
            padding: 15% 0 15% 0;
            background-color: black;
        }    

        .frase h1,h4{
            color: white;
        }

        .frase h1{
            text-align: center;
            margin: 6%;
            font-size: 30px;
        }

        .frase h4{
            margin: 0 10% 0 0;
            font-size: 20px;
            text-align: right;
        }

        .sectionSoftSkills{
            background-color: var(--corFundo);
            height: 653s5px;
            width: 100%;
            border: 1px solid var(--corFundo);;
        }

        .softSkills{
            margin: 20% 3% 20% 3%;
            border: 10px rgb(0, 0, 0) solid;
            border-radius: 30px;
            background-color: white;
        }

        .softSkills img{
            display: block;
            width: 60%;
            margin: 40% auto 0 auto;
            opacity: 0;
        }

        .softSkillsRodarImagem{
            animation: rodarImagem 1.5s forwards;           
        }

        @keyframes rodarImagem {
            100% {
                opacity: 1;
                transform: rotate(360deg);
            }
        }

        .softSkills h1{
            text-align: center;
            font-size: 60px;
            margin: 20% 0 0 0;
        }

        .softSkills h3{
            text-align: center;
            font-size: 25px;
            color: var(--corFundo);
            opacity: 0;
        }

        .softSkillsTituloAnimado{
            animation: fadeInAnimation 4s forwards;
        }

        .projetos{
            margin: 35% 0 0 0;
            position: relative;
            z-index: 0;
            overflow: hidden;
        }

        .projetos h1{
            text-align: center;
            font-size: 55px;
        }

        .projetos h3{
            text-align: center;
            font-size: 40px;
            margin: 3% 0 5% 0;
            color: var(--corFundo);
        }

        .projetos button{
            width: 200px;
            height: 75px;
            display: block;
            margin: 10% auto 10% auto;
            background-color: var(--corFundo);
            color: white;
            border-radius: 20px;
            font-size: 28px;
            font-family: 'Open Sans', sans-serif;
        }

        .projeto1, .projeto2, .projeto3, .projeto4{
            margin: 0 5% 15% 5%;
            border: 2px black solid;
            border-radius: 10px;
        }

        .projeto1, .projeto3{
            transform: translateX(-100%);
        }

        .projeto2, .projeto4{
            transform: translateX(100%);

        }

        .slideEsquerda{
            animation: slideEsquerda 0.5s forwards;
        }

        .slideDireita{
            animation: slideDireita 0.5s forwards;
        }

        @keyframes slideEsquerda{
            100% {
                transform: translateX(0);
            }
        }

        @keyframes slideDireita{
            100% {
                transform: translateX(0);
            }
        }

        .projeto1 img, .projeto2 img, .projeto3 img, .projeto4 img{
            display: block;
            margin: 0 auto 0 auto;
            border: 5px solid black;
            width: 90%;
        }

        .verMais{
            overflow: hidden;
            top: -5px;
            margin: 5%;
            position: fixed;
            z-index: -1; 
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            height: 500px;
            opacity: 0;
            transition: 1s;
        }

        .verMais h3{
            text-align: center;
            font-size: 35px;
        }

        .verMais button{
            display: block;
            margin: 0 auto 15% auto;
            width: 200px;
            height: 85px;
            font-size: 24px;
            background-color: black;
            border-radius: 10px;
            color: white;
        }

        .verMais h5{
            text-align: center;
            font-size: 15px;
        }

        .verMais p{
            text-indent: 1em;
            text-align: justify;
            margin: 5% 4%;
            font-size: 20px;
            line-height: 1.5;
        }

        .verMais1 img, .verMais2 img, .verMais3 img, .verMais4 img{
            display: block;
            margin: 0 auto 10% auto;
            width: 90%;
            border: 5px solid black;
            transition: 1s;
        }

        .verMais1, .verMais2, .verMais3, .verMais4{
            overflow-y: auto;
            height: 100%;
            opacity: 0;
            display: none;
            transition: 1s;
        }

        .verMais1 h1, .verMais2 h1, .verMais3 h1, .verMais4 h1{
            display: block;
            text-align: right;
            margin: 5% 5% -8% 0;
            transition: 1s;
        }

        .overlay{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1; 
            opacity: 0;
            transition: 0.5s;
        }

        .contato h1{
            text-align: center;
            font-size: 60px;
            margin: 0;
            padding: 35px 0 0 0;
        }

        .contato{
            margin: 0;
            background-color: black;
            color: white;
            height: 1950px;
        }

        .contato h3{
            text-align: center;
            font-size: 28px;
            margin: 2% 0 0 0;
        }

        .contato :nth-child(5) h3{
            font-size: 20px;
        }

        .contato1, .contato2, .contato3, .contato4, .contato5, .contato6{
            display: block;
            margin: 15% auto 0 auto;
            width: 65%;
            transition: 1.5s;
        }

        .contato1{
            width: 65%;
        }

        .contato2{
            width: 55%;
        }

        .contato5{
            width: 55%;
        }

        .contato1:hover{
            content: url('/imagens/icons/whatsappBranco.png');
            transform: scale(0.8);         
        }

        .contato2:hover{
            content: url('/imagens/icons/emailBranco.png');
            transform: scale(0.8);          
        }

        .contato3:hover{
            content: url('/imagens/icons/localizacaoBranco.png');
            transform: scale(0.8);        
        }

        .contato4:hover{
            content: url('/imagens/icons/instagramBranco.png');
            transform: scale(0.8);
        }

        .contato5:hover{
            content: url('/imagens/icons/linkedinBranco.png');
            transform: scale(0.8);
        }

        .contato6:hover{
            content: url('/imagens/icons/gitHubBranco.png');
            transform: scale(0.8);
        }

        footer{
            margin: 0;
            padding: 10% 0 0 0;
            font-size: 15px;
        }

        footer p{
            margin: 0 0 20% 0;
            text-align: center;
        }

        footer a{
            margin: 0 2% 0 2%;
        }

        .referencias{
            margin: 0 5%;
        }

        .referencias p{
            margin: 0 0 5% 0;
        }
}

@media screen and (min-width: 360px){

        .imgMenu h2{
            bottom: 28px;
        }

        .imgMenu img{
            margin-left: 2%;
        }

        .nav img{
            width: 25%;
            margin-left: 2%;
            margin-top: 3%;
        }

        .nav{
            width: 300px;
            height: 620px;
        }

        .nav ul{
            margin-left: 18%;
        }

        .nav ul li{
            font-size: 38px;
        }

        .primeiroNome{
            margin: 25% 0 0 0;
            font-size: 55px;
        }

        .sobrenome{
            font-size: 70px;
        }

        .subtitulo{
            margin: -5% 0 0 0;
            font-size: 45px;
        }

        .cursor{
            height: 55px;
        }

        .tituloQuem{
            font-size: 65px;
        }
        .sobreMim img{
            width: 100%;
        }
        
        .sobreMim p{
            font-size: 28px;
        }

        .frase h1{
            font-size: 35px;
        }

        .frase h4{
            font-size: 22px;
        }

        .softSkills{
            margin-top: 40%;
        }

        .softSkills h1{
            font-size: 65px;
        }

        .softSkills img{
            width: 70%;
        }

        .projetos{
            margin-bottom: 35%;
        }

        .projetos h1{
            font-size: 75px;
        }

        .projetos h3{
            font-size: 50px;
        }

        .verMais{
            height: 735px;
        }

        .verMais h1{
            font-size: 30px;
        }

        .verMais h3{
            font-size: 40px;
        }

        .verMais h5{
            font-size: 16px;
        }

        .verMais p{
            font-size: 25px;
        }

        .verMais button{
            width: 250px;
            height: 100px;
            font-size: 30px;
        }

        .contato{
            height: 2145px;
        }

        footer p{
            font-size: 16px;
        }

        .footer p{
            margin-left: 5%;
            margin-right: 5%;
        }
}

@media screen and (min-width: 375px){
    .imgMenu h2{
        bottom: 30px;
    }

    .verMais{
        height: 700px;
    }

    .contato{
        height: 2240px;
    }
}

@media screen and (min-width: 390px){
    .imgMenu{
        height: 75px;
    }

    .imgMenu h2{
        font-size: 30px;
    }

    .nav{
        width: 350px;
        height: 660px;
    }

    .nav ul li{
        font-size: 40px;
    }

    .nomeTitulo{
        height: 460px;
    }

    .primeiroNome{
        margin: 35% 0 0 0;
        font-size: 62px;
    }

    .sobrenome{
        font-size: 80px;
    }

    .subtitulo{
        margin: -6% 0 0 0;
        font-size: 50px;
    }

    .cursor{
        height: 62px;
    }

    .tituloQuem{
        font-size: 70px;
    }

    .sobreMim p{
        font-size: 30px;
    }

    .softSkills img{
        width: 85%;
    }

    .verMais{
        top: 40px;
    }

    .contato{
        padding-bottom: 70px;
    }

    footer p{
        font-size: 18px;
    }
}

@media screen and (min-width: 412px){
    .imgMenu{
        height: 85px;
    }

    .imgMenu h2{
        margin-left: -3%;
    }

    .nomeTitulo{
        height: 490px;
    }

    .primeiroNome{
        margin: 35% 0 0 0;
        font-size: 66px;
    }

    .sobrenome{
        font-size: 85px;
    }

    .subtitulo{
        margin: -6% 0 0 0;
        font-size: 50px;
    }

    .cursor{
        height: 66px;
    }

    .softSkills h3{
        font-size: 30px;
    }

    .verMais{
        top: 55px;
    }

    .contato{
        padding-bottom: 140px;
    }
}

@media screen and (min-width: 428px){
    .contato{
        padding-bottom: 200px;
    }
}

@media screen and (min-width: 768px){
    .imgMenu{
        height: 140px;
    }

    .imgMenu h2{
        font-size: 60px;
        bottom: 58px;
    }

    .nav{
        width: 600px;
        height: 880px;
    }

    .nav ul li{
        font-size: 52px;
    }

    .nav ul{
        margin-top: 8.5%;
        margin-left: 30%;
    }

    .nomeTitulo{
        height: 700px;
    }

    .primeiroNome{
        margin: 25% 0 0 0;
        font-size: 110px;
    }

    .sobrenome{
        font-size: 150px;
    }

    .subtitulo{
        margin: -10% 0 0 0;
        font-size: 75px;
    }

    .cursor{
        height: 110px;
    }

    .tituloQuem{
        font-size: 120px;
    }

    .sobreMim p{
        font-size: 52px;
    }

    .frase h1{
        font-size: 58px;
    }

    .frase h4{
        font-size: 40px;
    }

    .softSkills img{
        width: 80%;
    }

    .softSkills h1{
        font-size: 130px;
        margin-bottom: -15%;
    }

    .softSkills h3{
        font-size: 58px;
    }

    .projetos{
        margin-top: 10%;
        margin-bottom: 15%;
    }
    
    .projetos h1{
        font-size: 120px;
    }

    .projetos h3{
        font-size: 80px;
    }

    .projetos button{
        width: 420px;
        height: 140px;
        font-size: 62px;
    }

    .verMais{
        height: 820px;
    }

    .verMais h1{
        font-size: 55px;
    }

    .verMais h3{
        font-size: 80px;
    }

    .verMais p{
        font-size: 46px;
    }

    .verMais h5{
        font-size: 28px;
    }

    .verMais button{
        margin-top: 12%;
        font-size: 46px;
        width: 400px;
        height: 140px;
    }

    .contato{
        height: 4300px;
    }

    .contato h1{
        font-size: 140px;
    }

    .contato h3{
        font-size: 58px;
    }

    footer p{
        font-size: 34px;
    }

    .referencias a{
        font-size: 20px;
    }
}

@media screen and (min-width: 800px){
    .contato{
        height: 4480px;
    }

}

@media screen and (min-width: 820px){
    .imgMenu{
        height: 150px;
    }

    .nomeTitulo{
        height: 770px;
    }

    .primeiroNome{
        margin: 25% 0 0 0;
        font-size: 120px;
    }

    .sobrenome{
        font-size: 165px;
    }

    .subtitulo{
        margin: -10% 0 0 0;
        font-size: 85px;
    }

    .cursor{
        height: 120px;
    }

    .tituloQuem{
        font-size: 130px;
    }

    .contato{
        height: 4550px;
    }
}

@media screen and (min-width: 834px){
    .contato{
        height: 4650px;
    }
}

@media screen and (min-width: 884px){
    .imgMenu{
        height: 170px;
    }

    .imgMenu h2{
        font-size: 70px;
        bottom: 65px;
    }

    .nomeTitulo{
        height: 870px;
    }

    .primeiroNome{
        margin: 25% 0 0 0;
        font-size: 138px;
    }

    .sobrenome{
        font-size: 185px;
    }

    .subtitulo{
        margin: -10% 0 0 0;
        font-size: 95px;
    }

    .cursor{
        height: 138px;
    }

    .contato{
        height: 4900px;
    }
}

@media screen and (min-width: 1280px){
    .imgMenu{
        display: none;
    }

    .nav img{
        display: none;
    }

    .nav{
        display: block;
        width: 100%;
        height: 150px;
        border-radius: 0;
        animation: navAnimation 1s forwards;
    }

    .nav a{
        color: white;
        transition: 0.5s;
    }

    .nav ul{
        margin: 0 0 0 -5%;
        display: block;
        list-style-type: none;
        line-height: 150px;
        text-align: center;
    }

    .nav ul li{
        font-size: 40px;
        display: inline-block;
        margin: 0 0 0 30px;
        letter-spacing: 1px;
    }

    .nomeTitulo{
        height: 700px;
    }

    .primeiroNome{
        margin: 5% 0;
        font-size: 120px;
    }

    .sobrenome{
        margin-top: -25%;
        font-size: 200px;
    }

    .subtitulo{
        margin: -10% 0 0 0;
        font-size: 90px;
    }

    .cursor{
        height: 120px;
    }

    .tituloQuem{
        margin: 12% 0 -2% 0;
        border-radius: 100px;
        width: 100%;
        background-color: black;
        color: white;
    }

    .sobreMim{
        margin: 8% 2% -10% 2%;
    }

    .sobreMim img{
        display: none;
    }

    .sobreMim p {
        font-size: 36px;
        text-align: justify;
        margin-left: 50%;
        margin-right: 2%;
    }

    .sobreMim p:first-of-type{
        margin-top: -1%;
    }

    .frase h1{
        margin-top: 2%;
    }

    .softSkills{
        display: grid;
        grid-row-gap: 25px;
        margin: 15%;
        grid-template-columns: auto auto auto;
    }

    .softSkills h1{
        grid-column: 1 / 4;
        margin: 10% 0 -5% 0;
        font-size: 120px;
    }

    .softSkills h3{
        font-size: 30px;
    }

    .softSkills img{
        width: 35%;
    }

    .softSkill1 img{
        margin-top: 60%;
    }

    .softSkill3 img{
        margin-top: 47.8%;
    }

    .softSkill5 img{
        margin-top: 24%;
    }

    .softSkill6 img{
        margin-top: 30%;
    }

    .softSkill8 img{
        margin-top: 24%;
    }

    .softSkill9 img{
        margin-top: 30%;
    }

    .softSkill11 img{
        margin-top: 24%;
    }

    .softSkill12 img{
        margin-top: 30%;
    }

    .softSkill14 img{
        margin-top: 24%;
    }

    .softSkill15 img{
        margin-top: 30%;
    }

    .softSkill17 img{
        margin-top: 24%;
    }

    .softSkill18 img{
        margin-top: 30.2%;
    }

    .projetos{
        margin-top: 2%;
    }

    .projetos h1{
        border-radius: 100px;
        width: 100%;
        background-color: black;
        color: white;
    }

    
}