:root{
    --corFundo: rgb(26, 38, 83);
}

@media screen and (min-width: 320px){
    .habilidadesDentro{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 80px;
        grid-column-gap: 20px;
        border: 10px solid rgb(0, 0, 0);
        border-radius: 30px;
        margin: 20% 3% 20% 3%;
        padding: 0 0 55px 0;
        background-color: var(--corFundo);;
        overflow: hidden;
    }

    .habilidadesDentro h2{
        grid-column: 1 / 3;
        text-align: center;
        font-size: 60px;
        margin: 20% 0 -10% 0;
        color: white;
    }

    .habilidade1 img, .habilidade2 img, .habilidade3 img, .habilidade4 img, .habilidade5 img, .habilidade6 img, .habilidade7 img, .habilidade8 img{
        opacity: 0;
        display: block;
    }

    .habilidade1 img, .habilidade3 img, .habilidade5 img, .habilidade7 img{
        transform: translateX(-200%);
    }

    .habilidade2 img, .habilidade4 img, .habilidade6 img, .habilidade8 img{
        transform: translateX(200%);
    }

    .habilidade1 img{
        margin: 0 0 0 -10%;
        width: 130%;
    }

    .habilidade2 img{
        margin: 10% 0 0 6%;
        width: 80%;
    }

    .habilidade3 img{
        margin: 0 0 0 -5%;
        width: 120%;
    }
    
    .habilidade4 img{
        margin: 16% 0 0 0;
        width: 85%;
    }

    .habilidade5 img{
        margin: 0 0 0 20%;
        width: 70%;
    }

    .habilidade6 img{
        margin: 8% 0 0 -5%;
        width: 95%;
    }

    .habilidade7 img{
        margin: 8% 0 0 -26%;
        width: 165%;
    }

    .habilidade8 img{
        margin: 15% 0 0 -3%;
        width: 90%;
    }

    .iconsAnimation{
        animation: iconsAnimation 1s forwards;
    }

    @keyframes iconsAnimation{
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media screen and (min-width: 768px){
    .habilidadesDentro h2{
        font-size: 120px;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 1280px){
    .habilidadesDentro{
        grid-template-columns: auto auto auto;
        margin: 20% 15% -30% 15%;
    }

    .habilidadesDentro h2{
        grid-column: 1 / 4;
        font-size: 120px;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .habilidade1 img{
        margin: 0 0 0 -15%;
        width: 125%;
    }

    .habilidade2 img{
        margin: 10% 0 0 15%;
        width: 75%;
    }

    .habilidade3 img{
        margin: -15% 0 0 -5%;
        width: 112%;
    }
    
    .habilidade4 img{
        margin: 16% 0 0 10%;
        width: 80%;
    }

    .habilidade5 img{
        margin: 0 0 0 20%;
        width: 70%;
    }

    .habilidade6 img{
        margin: 8% 0 0 5%;
        width: 95%;
    }

    .habilidade7 img{
        margin: 8% 0 0 -20%;
        width: 150%;
    }

    .habilidade8 img{
        margin: 15% 0 0 16%;
        width: 80%;
    }
}